.header {
  text-align: center;
  color: blue;
  background-color: rgb(54, 185, 237);
  padding: 5px;
  font-size: larger;
}
table {
  table-layout: auto;
  border-spacing: 0;
  border-collapse: collapse;
  width: 1000px;
  margin: 40px auto;
}
.caption {
  margin: 20px;
  font-size: 30px;
}
body {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),  url('https://th.bing.com/th/id/OIP.rRLO60mNnOZjKGIMp0vXnQHaEK?w=277&h=180&c=7&r=0&o=5&dpr=1.9&pid=1.7');

  background-size: cover;
  
}