
.header {
  text-align: center;
  color: rgb(0, 0, 255);
  background-color: rgb(54, 185, 237);
  padding: 5px;
  font-size: larger;

}
body {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),  url('https://th.bing.com/th/id/OIP.rRLO60mNnOZjKGIMp0vXnQHaEK?w=277&h=180&c=7&r=0&o=5&dpr=1.9&pid=1.7');

  background-size: cover;
  padding: 5px;
}
.input {
  padding: 25px;
}
.button {
  font-size: 2px;
}
