body {
  /*background-image: url('https://th.bing.com/th?id=OIP.fTgfWlSAHE-pqL0hSnI_WAHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.header {
  text-align: center;
  color: blue;
  background-color: rgb(54, 222, 237);
  padding: 5px;
  font-size: larger;
  table-layout: auto;
    border-spacing: 0;
    border-collapse: collapse;
    width: 1000px;
    margin: 40px auto;
}

